.modal {
  composes: pt-10 pl-10 pr-10 pb-15 from global;
  position: absolute;
  z-index: 10;
  background: #1c1c21;
  overflow: overlay;
  max-width: 720px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header_modal {
  display: flex;
  align-items: center;
}
.close {
  position: absolute;
  right: 40px;
  display: flex;
}
.header_modal_text {
  composes: text text_type_main-large from global;
}
